{
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "extends": "google",
  "rules": {
    "linebreak-style": [0],
    "max-len": ["error", 120, 4],
    "prefer-const": "error"
  }
}
